.app-config {
  width: 80%;
}

.btn-config {
  display: block !important;
  margin-bottom: 12px !important;
}

.overflow-form {
  height: 70vh;
}

.field-configuration {
  width: 150px;
}

.h2 {
  color: #e1e1d6;
}

.button-menu{
  overflow: hidden;
}

.button-menu:hover,
.button-menu:active {
  border-radius: 25px !important;
}



.table-configuration {
  width: 100%;
  display: flex;
  margin: auto;
}

.make-plays__dropdown {
  padding: 10px 20px;
  background: #4a4a4a;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.make-plays__dropdown_option {
  background-color: white;
  color: black;
  border: 1 px solid white;
  cursor: pointer;
}

.make-plays__button {
  padding: 8px 14px;
  margin-left: 20px;
  border-radius: 50%;
  border: none;
  background: red;
  color: white;
  font-size: 20px;
  transform: translateY(1px);
}

.make-plays__add-container {
  margin: 13px 0;
  display: flex;
  justify-content: center;
  overflow: visible;
}

.make-plays__playlist {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  margin: 20px 0;
}

.make-plays__delete-button {
  padding: 9px 14px;
  margin-left: 20px;
  border-radius: 50%;
  border: none;
  background: red;
  color: white;
  font-size: 20px;
  transform: translateY(-6px);
}

.icon-sytle {
  margin-bottom: 10px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-sizer {
  height: 80px;
  position: absolute;
  width: 80px;
  transform: translateX(-2px);
}

.desc-text{
  margin-top: 5px;
  font-weight: 900;
}